body {
    background-color: rgb(248, 187, 19);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

div {
    background-color: rgb(248, 187, 19);
    margin: 5px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.radioBtns,
.stopWatch,
.flagsLeft,
.bestScore {
    /* background-color: rgb(248, 187, 19); */
    border-radius: 5px;
    text-align: center;
    border: solid black;
    margin-left: auto;
    margin-right: auto;
    /* width: fit-content; */
    padding: 2px;
    display: inline-block;
}

.radioBtns,
.bestScore {
    width: 350px;
    height: 20px;
}

.stopWatch,
.flagsLeft {
    width: 100px;
    height: fit-content;
}

label {
    /* padding: 10px; */
    margin-right: 2px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    height: 100px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.cell {
    background-color: rgb(248, 187, 19);
    border-radius: 4px;
    text-align: center;
    width: 26px;
    height: 26px;
    font-weight: bold;
    /* font-size: 24px; */
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

.cell:hover {
    background-color: lightgray;
    cursor: pointer;
}

.-marked {
    background-color: lightgray;
}

.mineShown {
    background-color: red;
}

.mineShown:hover {
    background-color: red;
}

tr,
td {
    border: 1px solid white;
    padding: 0;
}

.live {
    height: 30px;
}

.smile {
    cursor: pointer;
    border: 3px solid black;
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 22px;
    padding-top: 4px;
    padding-right: 4px;
    padding-left: 4px;
}

table {
    border: 3px solid black;
    border-radius: 6px;
    background-color: black;
}

button {
    background-color: rgb(248, 187, 19);
    border-radius: 3px;
    border: 2px solid black;
    font-weight: bold;
    padding: 3px;
    cursor: pointer;
    /* margin-left: 16%; */
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover,
.smile:hover {
    background-color: rgb(240, 215, 77);
}

button:disabled {
    background-color: lightslategray;
    cursor: initial;
}

.warning {
    background-color: red;
}

.warning:hover {
    background-color: red;
}

.safe {
    background-color: lightgreen;
}

.safe:hover {
    background-color: lightgreen;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: black;
    color: rgb(248, 187, 19);
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 3px solid white;
}

.lamp1,
.lamp2,
.lamp3 {
    font-size: 28px;
}

.lamp1:hover,
.lamp2:hover,
.lamp3:hover {
    cursor: pointer;
}

.live {
    font-size: 28px;
}

.lampOn {
    color: transparent;
    text-shadow: 0 0 0 yellow;
}